body {
    overflow-x: hidden; /* Oculta el scroll horizontal */
    margin-left: 0;
    background-color: black;
}

/* reseteo márgenes y rellenos para evitar scroll vertical */
body, div, p {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
     /* max-width: 100%; */ /* Ajusta el ancho máximo según el diseño */
   /* position: relative;
    overflow: hidden; */
   /*  border: 1px solid red; */
    height: 100vh;
}

#hero {
    width: 100vw;
}

#banner {
    width: 100vw;
    flex-grow: 1;
    /* height: 100%;
    display: block; */
}

nav {
    background: rgb(153, 153, 153);
    width: 100vw;
    /* border: 2px solid green; */
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    
    padding: 0; 
    margin: 0;
    justify-content: center;

}

nav li {
    /* margin-right: 8vw; /* Ajusta el margen entre elementos */
   /*  margin-left: 8vw; */
    font-size: 1vw;
    border: 1px solid black;
  /*   padding-right: 7.8vw;
    padding-left: 7.8vw; */
    flex: 1;
    margin: 2px 1px 2px 1px;
    text-align: center;
    
  
}

nav li a {
    color: white;
    text-decoration-color: blue;
    font-size: 1.75rem ;
}

article {
    color: white;
    font-size: 2rem;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: justify;
}

/* SUBMENU CSS */
/* Estilos para el submenu */
nav ul ul {
    display: none; /* Ocultar el submenu por defecto */
    position: absolute; /* Posición absoluta para colocar el submenu */
    background-color: rgb(153, 153, 153); /* Color de fondo del submenu */
    border: 1px solid #ccc; /* Borde del submenu */
    padding: 10px; /* Espaciado interno del submenu */
}

/* Estilos para el hover del elemento de lista GRUPO */
nav ul li:hover > ul {
    display: block; /* Mostrar el submenu al pasar el ratón por encima del elemento GRUPO */


}

/* Estilos para los elementos del submenu */
nav ul ul li {
    width: 100%; /* Ancho del submenu igual al 100% */
    margin-bottom: 5px; /* Espacio entre elementos del submenu */
}

/* Eliminar subrayado de los elementos del submenu */
nav ul ul li a {
    text-decoration: none; /* Eliminar subrayado */
}

