#container {
    display: flex;
    flex-direction: column;
}

#hero {
    width: 100vw;
}

nav {
    background: rgb(153, 153, 153);
    width: 100vw;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0; 
    margin: 0;
}

nav li {
    margin-right: 8vw; /* Ajusta el margen entre elementos */
    margin-left: 8vw;
    font-size: 1vw;
}